body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.col_sta {
  padding: 10px;
  border-radius: 3px !important;
}

.col_sta h4 {
  padding: 0px 10px;
}

.user_data_comp {
  gap: 20px;
  display: flex;
  flex-direction: column;
}